/*===== FONT GOOGLE =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABEL CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
}

/*===== Warna =====*/
:root {
  --first-color: #dc143c;
  --second-color: #808080;
  --third-color: #ffffff;
  --fourth-color: #999999;
}
.darkmode {
  --first-color: #dc143c;
  --second-color: #eaeaea;
  --third-color: #101010;
  --fourth-color: #bbbbbb;
}

/*===== Font Tipografi =====*/
:root {
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/*===== Margin =====*/
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASIS =====*/
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
  background-color: var(--third-color);
  align-items: center;
  justify-content: center;
}
h1,
h2,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--first-color);
}

.quiz-header {
  padding: 3.5rem;
}

h2 {
  padding: 1rem;
  text-align: center;
  margin: 0;
}

ul li label {
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
}

button {
  background-color: var(--first-color);
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: 1.1rem;
  width: 100%;
  padding: 1.3rem;
  border-radius: 5px;
}

button:hover {
  background-color: maroon;
}
