/*===== FONT GOOGLE =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABEL CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
}

/*===== Warna =====*/
:root {
  --first-color: #dc143c;
  --second-color: #808080;
  --third-color: #ffffff;
  --fourth-color: #999999;
}
.darkmode {
  --first-color: #dc143c;
  --second-color: #eaeaea;
  --third-color: #101010;
  --fourth-color: #bbbbbb;
}

/*===== Font Tipografi =====*/
:root {
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/*===== BASIS =====*/
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
  background-color: var(--third-color);
}
h1,
h2,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--first-color);
}

::selection {
  color: #fff;
  background: var(--first-color);
}

.wrapper {
  width: 100%;
  background: var(--third-color);
  border-radius: 5px;
  border: 1px solid maroon;
  border-top: 0px;
}
.wrapper .title {
  background: var(--first-color);
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  text-align: center;
  border-bottom: 1px solid maroon;
  border-radius: 5px 5px 0 0;
}
.wrapper .form {
  padding: 20px 15px;
  min-height: 400px;
  max-height: 400px;
  overflow-y: auto;
}
.wrapper .form .inbox {
  width: 100%;
  display: flex;
  align-items: baseline;
}
.wrapper .form .user-inbox {
  justify-content: right;
  margin: 13px 0;
}
.wrapper .form .bot-inbox {
  justify-content: left;
  margin: 13px 0;
}
.wrapper .form .inbox .icon {
  height: 40px;
  width: 40px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  font-size: 18px;
  background: var(--first-color);
}
.wrapper .form .inbox .msg-header {
  max-width: 53%;
  margin-left: 10px;
}
.form .inbox .msg-header p {
  color: #fff;
  background: var(--first-color);
  border-radius: 10px;
  padding: 8px 10px;
  font-size: 14px;
  word-break: break-all;
}
.form .user-inbox .msg-header p {
  color: #fff;
  background: var(--fourth-color);
}
.wrapper .typing-field {
  display: flex;
  height: 60px;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  background: #efefef;
  border-top: 1px solid var(--fourth-color);
  border-radius: 0 0 5px 5px;
}
.wrapper .typing-field .input-data {
  height: 40px;
  width: 97%;
  position: relative;
}
.wrapper .typing-field .input-data input {
  height: 100%;
  width: 100%;
  outline: none;
  border: 1px solid transparent;
  padding: 0 80px 0 15px;
  border-radius: 3px;
  font-size: 15px;
  background: #fff;
  transition: all 0.3s ease;
}
.typing-field .input-data input:focus {
  border-color: var(--first-color);
}
.input-data input::placeholder {
  color: var(--fourth-color);
  transition: all 0.3s ease;
}
.input-data input:focus::placeholder {
  color: var(--fourth-color);
}
.wrapper .typing-field .input-data button {
  position: absolute;
  right: 5px;
  top: 50%;
  height: 34px;
  width: 65px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  background: crimson;
  border: 1px solid var(--first-color);
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
.wrapper .typing-field .input-data input:valid ~ button {
  opacity: 1;
  pointer-events: auto;
}
.typing-field .input-data button:hover {
  background: var(--second-color);
}
